{% extends "base.html" %}
<body background="{{ url_for('static', filename='img/fundo.png') }}">
{% block contents %}

<div>
    <img src="{{ url_for('static', filename='img/capa.png')}}" alt="capa" style="float: center;">
</div>


<div>
<h3>Sobre a universidade</h3>
<p>Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Corporis ea eligendi 
    fugiat, numquam laborum eius reprehenderit.
    Tenetur, consequuntur perspiciatis optio esse nemo quo sed 
    eligendi et neque molestiae earum facilis. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Expedita error 
    vitae consequuntur, excepturi alias enim cum, tempore 
    impedit quod inventore praesentium possimus mollitia quo
    sapiente temporibus! Consequuntur ea odit excepturi.</p>
     </div>
<h6 style="text-align:center;">Todos os direitos reservados.</h6>
{% endblock contents %}
</body>