{% extends "base.html" %}

{% block contents %}

<div>
    <h2>Quem somos</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Minima culpa dolores in, accusantium sunt quaerat aperiam,
     natus magni iusto nostrum iste nobis nemo nesciunt numquam
        sit libero dignissimos tenetur cum! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Et error, deleniti 
     magnam alias aut incidunt quis excepturi quas ratione nobis
        magni illum omnis at eius impedit enim odio? Voluptas, commodi.</p>
    <h2>5 motivos para estudar</h2>
<ol>
    <li>material sempre atualizado</li>
    <li>Tablets em sala de aula</li>
    <li>professores renomados</li>
    <li>Universidade bem avaliada</li>
    <li>Ótima localização.</li>
</ol>
    <hr>
    <h2>Objetivos</h2>
<p> Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. 
    Minima culpa dolores in, accusantium sunt quaerat aperiam,
 natus magni iusto nostrum iste nobis nemo nesciunt numquam
    sit libero dignissimos tenetur cum! Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Et error, deleniti 
 magnam alias aut incidunt quis excepturi quas ratione nobis
    magni illum omnis at eius impedit enim odio? Voluptas, commodi.</p>



</div>


<h6 style="text-align:center;">Todos os direitos reservados.</h6>
{% endblock contents %}